.tech {
    border-radius: 100px;
    background-color: $white-clr;
    width: 100px;
    text-align: center;
    padding: 22px;
    box-shadow: 0 0 10px rgba(214, 215, 216, 0.3);
    margin: auto;

    img {
        height: 50px;
        width: 50px;
    }
}